@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.header{
    padding: 2% 0 0 10%;    
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header-menu-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
}

main{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-spot {
    color: #22D4FD;
}

.text-title{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.text-content{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.link-title{
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.image-icon{
    width: 10%;
}

.link-style{
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid #22D4FD;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

.link-style:hover {
    background-color: #2f2f2f;
    border: 5px solid #22D4FD;
  }

.image-profile{
    border-radius: 30px;
}

.footer{
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
}