@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-black: #000000;
    --color-blank: #F6F6F6;
    --color-blue: #22D4FD;    
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-black);
    color: var(--color-blank);
}

.header{
    padding: 2% 0 0 10%;    
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header-menu-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-blue);
}

.header-menu-item:hover{
    font-weight: 1000;
    text-decoration: underline;
    text-shadow: var(--color-blue);
}

main{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-spot {
    color: var(--color-blue);
}

.text-title{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.text-content{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.link-title{
    font-size: 1.5rem;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.image-icon{
    width: 10%;
}

.link-style{
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--color-blue);
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0;
    text-decoration: none;
    color: var(--color-blank);
    font-family: 'Montserrat', sans-serif;
}

.link-style:hover {
    background-color: #2f2f2f;
    box-shadow:0px 0px 0px 2px var(--color-blue) inset;
  }

.image-profile{
    width: 650px;
    border-radius: 30px;
}

.image-profile-2{
    width: 650px;
    border-radius: 30px;
}

.footer{
    color: var(--color-black);
    background-color: var(--color-blue);
    text-align: center;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
